








<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="row">
                <div class="col">
                    <img src="../../assets/img/header.jpg" alt="" />
                </div>
                <div class="col">
                    <div class="main-bg">
                        <div class="login-container text-c animated flipInX">
                            <div>
                                <h1 class="logo-badge text-whitesmoke">
                                    <span class="fa fa-user-circle"></span>
                                </h1>
                            </div>
                            <h3 class="text-whitesmoke">ADMIN</h3>
                            <p class="text-whitesmoke">Sign In</p>
                            <div class="container-content">
                                <form method="post" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="nameUser"
                                            id="nameUser" name="nameUser" [(ngModel)]="nameUser" />
                                    </div>
                                    <br />

                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="*****" id="password"
                                            name="password" [(ngModel)]="password" />
                                    </div>
                                    <br />
                                    <button type="submit" class="form-button button-l margin-b">
                                        Sign In
                                    </button>
                                </form>
                                <br />
                                <p class="margin-t text-whitesmoke">
                                    <small> MARCOS PAZ GONCHEFF &copy; 2022</small>
                                </p>
                                <br />
                                <br /><br />
                                <br /><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>



















<!-- 
<div class="body">
    <form method="post"   (ngSubmit)="onLogin()" novalidate>
        <mat-card class="card">
            <mat-card-content>
                <h1><strong>Login</strong></h1>
                <mat-form-field class="ancho">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="userName" [(ngModel)]="nameuser">
                </mat-form-field>
                <mat-form-field class="ancho">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" [(ngModel)]="password" >
                </mat-form-field>
                <button mat-raised-button class="ancho btn" type="submit" ng
                    color="primary" >Ingresar</button>
            </mat-card-content>
        </mat-card>
    </form>
</div> -->